@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Logar" method="post">

    <label>User Name:</label>
    <input type="text" name="username"/>

    <label>Password:</label>
    <input type="password" name="password" />

    <input type="submit" value="submit"/>

</form>